*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}


body {
	margin: 0 auto;
	background: url(../images/wallpapers_coffe.jpeg); 
	background-size: cover;
	font-family: 'Inconsolata', monospace;

}

#container{
	width: 100%;
	height: 80px;
	background-color: #01C8F1;
	text-align: center;
	padding-top: 15px;
}

header div h1{
	color: white;
}

#firstBox{
	display: inline-block;
	width: 400px;
	height: 200px;
	background-color: white;
	padding-left: 30px;
	padding-top: 25px;
	margin-left: 150px;
	margin-top: 20px;
	border-radius: 5px;
}

#firstBox h4{
	padding-top: 10px;
}

#firstBox hr{
	margin-top: 20px;
	width: 340px;
}

#firstBox p{
	color: #6164E9; 
	text-transform: uppercase;
	padding-top: 10px;
}

#messBox{
	position: relative;
	float: right;
	margin-right: 180px;
	top: 20px;
	height: 200px;
	width: 490px;
	background: white; 
	border-radius: 5px;

}

#comment{
	height: auto; 
	margin-top: 25px;
	margin-left: 25px;
	border-radius: 5px;
	min-height: 50px;
	max-height: 200px;
	overflow: auto;

}

#btn{
	margin-top: 20px;
	margin-left: 25px;
	border-radius: 5px;
	height: 30px;
	width: 100px;
	background-color: #6AD2F3; 
	color: white;
	text-align: center;
	border:none;
}

#contador{
	position: relative;
	float: right;
	margin-right: 30px;
	height: 40px;
	width: 120px;
	/*outline: 2px solid black;*/
	margin-top: 20px;

}

#parNum {
	padding-left: 40px;
	font-size: 18px;
	font-weight: bold;
}
.colorUno{
	color:blue;

}
.colorDos{
	color: #F22727;

}
.colorTres{
	color: #9314A6; 

}

/*
#btn::placeholder{
	font-family: 'Inconsolata', monospace;
}
*/

#cont{
	height: auto;
	width: 1200px;
	background-color: white;
	margin-top: 100px;
	margin-left: 100px;
	border-radius: 5px;
}

.newDiv{
	height: 100px;
	width: 1040px;
	background-color: white;
	margin-top: 30px;
	margin-left: 150px;
	border-radius: 5px;
	padding-top: 5px;
	padding-left: 20px;
	/*outline: 2px solid black ; */
	overflow: auto;
	padding-right: 200px;

}

.parrafoComentario{
	padding-bottom: 10px;
	width: 500px; 
	height: 80px;
	padding-right: 200px;

