*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	background: url(../images/wallpapers_coffe.jpeg); 
	background-size: cover;
	font-family: 'Inconsolata', monospace;
}

header{ 
	height: 80px;
}

h1{
	color: white;
	margin-top: 14px;
	font-weight: 600;
}
.first{
	border-bottom: 1px solid white;
	border-top: 1px solid white;  
}
.boxmision, .boxcomment{
	height: 240px;
	padding-top: 30px;
	padding-left: 15px; 
	padding-right: 15px; 
	color: white; 
	/*border-style: solid; 
	border-color: white; 
	border-radius: 5px; 	*/
}

.boxmisionmov{
	height: 200px;
	padding-top: 30px;
	padding-left: 15px; 
	padding-right: 15px; 
	color: white;
}

textarea{
	resize: none; 
	border: none;
	background-color: transparent;
	color: white; 
}

textarea:focus{
	outline: 0 none;
	overflow-x: auto;
	word-wrap: break-word;
 
}

.contador{
	display: inline;
	/*margin-left: 400px;*/
}
.btn-tweet{
	margin-left: 20px; 
}
.comentarios{
	margin-bottom: 30px; 
}
.post{
	/*border-style: solid; 
	border-width: 1px; 
	border-color: white; 
	border-radius: 5px;*/     
	height: auto; 
	margin-top: 30px; 
	transform: skew(0deg); 
  -webkit-transform: skew(0deg); 
  border-top: 1px solid white; 
  border-left: 5px solid transparent; 
  border-right: 5px solid transparent; 
  border-bottom: 1px solid white;
  word-wrap: break-word;

}

.glyphicon{
	margin-left: 5px; 
	margin-right: 10px;
	margin-top: 20px;  
	font-size: 18px; 
}
.glyphicon-heart{
	color: #FFF; 
}
.glyphicon-trash{
	color: #FFF; 
	float: right;
}
.glyphicon-trash:hover, .glyphicon-heart:hover{
	font-size: 20px; 
}

.mess{
	color: white; 
	padding-top: 10px;
	overflow: auto
}

.colorUno{
	color: #B2B8EE; 
}
.colorDos{
	color: #B6F61E; 
}
.colorTres{
	color: red;
}
.colorCuatro{
	color: #FFF; 
}
